<footer class="footer">
    <a class="footer__member-yevhenii" href="https://github.com/yevhenii-kapustian" target="_blank">Yevhenii</a>
    <p class="footer-description">Refreshing non-alcoholic mixes and exquisite cocktails for any mood - come for a taste!</p>
    <p class="footer-copyright">Made by Yevhenii | Copyright © 2025</p>
</footer>