<header class="header">
    <div class="navbar">
        <a href="/" class="navbar__link">Home</a>
        <a href="/alcoholicCoctails" class="navbar__link"> Alcoholic</a>
        <a href="/nonAlcoholicCoctails" class="navbar__link">Non-Alcoholic</a>
    </div>
    <div class="border-line-horizontal"></div>
</header>