<% if (locals.pageType === "home") { %>
    <main class="main">
        <section class="showcase">
            <img class="welcome__background-img" src="assets/images/background.jpg" alt="background img">
            <div class="welcome__container-text">
                <h2>Beverage Haven for All Tastes</h2>
                <h3>Alcoholic & Non-Alcoholic Delights for the Whole Family</h3>
            </div>
        </section>
    </main>
<% } %>