.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__coctails-menu-text {
    font-size: 2rem;
    font-weight: 500;
}

.main__coctails-names {
    margin-top: 1rem;
    display: flex;
    gap: 20px;
}

.main__coctails-names a {
    color: black;
}

@media screen and (max-width: 500px) {
    .main__coctails-names {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}